<div class="grid">
    <div class="col-12">
        <div class="card p-3">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="New"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Delete"
                            icon="pi pi-trash"
                            class="p-button-danger"
                            (click)="deleteSelectedTrades()"
                            [disabled]="
                                !selectedTrades || !selectedTrades.length
                            "
                        ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload
                        mode="basic"
                        accept=".xls,.xlsx"
                        [maxFileSize]="1000000"
                        label="Import"
                        chooseLabel="Import"
                        class="mr-2 inline-block"
                    ></p-fileUpload>
                    <button
                        pButton
                        pRipple
                        label="Export"
                        icon="pi pi-upload"
                        class="p-button-help"
                        (click)="dt.exportCSV()"
                    ></button>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="trades"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['slno', 'tradeName', 'rate']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedTrades"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="slno"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Manage Trades</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="width: 30%" pSortableColumn="slno">
                            SL NO <p-sortIcon field="slno"></p-sortIcon>
                        </th>
                        <th style="width: 30%" pSortableColumn="tradeName">
                            Trade <p-sortIcon field="tradeName"></p-sortIcon>
                        </th>
                        <th style="width: 30%" pSortableColumn="rate">
                            Rate/Hrs. (AED)
                            <p-sortIcon field="rate"></p-sortIcon>
                        </th>
                        <th style="text-align: right">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-trade>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="trade"></p-tableCheckbox>
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">SL NO</span>
                            {{ trade.slno }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Trade</span>
                            {{ trade.tradeName }}
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">Rate/Hrs. (AED)</span>
                            {{ trade.rate | currency : "AED " }}
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editTrade(trade)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteTrade(trade)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="tradeDialog"
            [style]="{ width: '450px' }"
            header="Trade Details"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="tradeName">Trade</label>
                    <input
                        type="text"
                        pInputText
                        id="tradeName"
                        [(ngModel)]="trade.tradeName"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !trade.tradeName
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !trade.tradeName"
                        >Trade Name is required.</small
                    >
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="rate">Rate</label>
                        <p-inputNumber
                            id="rate"
                            [(ngModel)]="trade.rate"
                            mode="currency"
                            currency="AED"
                            locale="en-US"
                        ></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Save"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveTrade()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteTradeDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="trade"
                    >Are you sure you want to delete <b>{{ trade.tradeName }}</b
                    >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteTradeDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteTradesDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Are you sure you want to delete selected trades?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteTradesDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDeleteSelected()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
